.form{
    .form-row{
        display: flex;
        flex-direction: column; 
        gap: 2rem
    }
}

.form-group{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control{
    padding: 1.2rem;
}